section.about#about
    .container
        .about_title
            h2.block_header.about_header Who we are
            p.text_style.about_text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quasi aliquam voluptate exercitationem quod dolor labore dolorum vitae corporis, corrupti voluptas fugit in fugiat vero nostrum nesciunt reiciendis, minima inventore.
            input(type="button", value="Read More").btn.about_btn           
        img(src="/static/img/mac.png").about_img
