section.banner
    .container
        .banner-logo
            span.big Think Outside
            span.mid of the box
        .banner_image
            img(src="/static/img/model.png")
        input(type="button", value="Read More").btn.banner_btn