header
    .container.header
        span.logo Agency
        ul.menu-list
            li.menu-list__item
                a(href="#" ) Home
            li.menu-list__item
                a(href="#" ) About Us
            li.menu-list__item
                a(href="#") Team
            li.menu-list__item
                a(href="#") Services
            li.menu-list__item
                a(href="#") Process
            li.menu-list__item
                a(href="#") Clients  
            li.menu-list__item
                a(href="#") Work
            .search
                span.fas.fa-search.fa-lg
            .facebook
                span.fab.fa-facebook-f.fa-lg