section.work#work
    .container
        h2.block_header.work_header What we do
        .work_block
            .work_post
                .icon_post
                h3.header_post Creative Work
                p.text_post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, harum aliquid dignissimos rem
        .work_post
                i.fal.fa-desttop-alt.icon_post
                h3.header_post We do Best
                p.text_post  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, harum aliquid dignissimos rem
        .work_post
                .icon_post
                h3.header_post Best Company
                p.text_post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, harum aliquid dignissimos rem
        .work_post
                .icon_post
                h3.header_post Nice Idea
                p.text_post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, harum aliquid dignissimos rem
        .work_post
                .icon_post
                h3.header_post Professional
                p.text_post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, harum aliquid dignissimos rem
        .work_post
                .icon_post
                h3.header_post Great Services
                p.text_post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, harum aliquid dignissimos rem